/* Ajusta fundo da tela*/
body {
    background-color: blue;
}

/* Menu lateral */
.sidenav {
    height: 100%; /* Full-height */
    width: 160px;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Links*/
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* Header do menu lateral*/
.sidenav h3 a {
    color: orange;
    font-size: 30px;
}

/* Muda cor dos links com o mouse */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Mouse sobre o header*/
.sidenav h3 a:hover {
    color: orange;
}
  
/* Style page content */
.main {
    margin: 240px 39em 140px 50em;
    padding: 20px 10px;
    position: relative;
    text-align: center;
    background: #806400;
    border-radius: 1em;
}

.main .login-box h4 {
    display: inline-block;
}

.main .pass-box h4 {
    display: inline-block;
}

.button {
    background-color: darkblue;
    border-radius: 8px;
    border: none;
    padding: 3px 21px;
    margin: 10px 0px 0px 0px;
}

.button a {
    color: white;
    text-decoration: none;
}
.button:hover {
    background-color: darkgrey;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.login-box {
    margin-top: 2em;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}

h1 {
    font-size: 1.7rem;
}

.input-text{
    width: 235px;
    text-align: center;
}
